<div class="modal fade" id="task-limits-help" tabindex="-1" role="dialog" aria-labelledby="task-limits-help">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="task-limits-help">What is the meaning of the execution codes for each test case?</h4>
      </div>
      <div class="modal-body">
        <p>
          For each test case which your solution is executed against there will be an execution code, which indicates what happened. The possible codes are:
        </p>
        <ul>
          <li><strong>ok</strong> - your solution executed within the memory and time limits and produced a correct answer
          <li><strong>wa</strong> - wrong answer, your solution produced an incorrect answer
          <li><strong>tl</strong> - time limit exceeded, your solution ran for more than the allowed execution time
          <li><strong>ml</strong> - memory limit, your solution used more than the allowed memory
          <li><strong>re</strong> - a runtime error occurred while your solution executed; this can be caused by a broad range of reasons
        </ul>
        <p>
          Only tests for which your solution got 'ok' will score points. Passing all test cases will result in the maximum possible score of 100 points.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
