<% if @lesson.sidebar_content.present? %>
  <div class="lesson-content">
    <%= render inline: @lesson.sidebar_content %>
  </div>
<% end %>
<div class="list-group task-sidebar">
    <%= render partial: 'lesson_links_to_tasks' %>
  </div>
  <div class="list-group task-sidebar">
    <%= render partial: 'lesson_links_to_quizzes' %>
  </div>
