<% if @lesson.tasks.present? %>
  <div class="panel panel-primary margin-top-average">
    <div class="panel-heading">
      <i class="glyphicon glyphicon-tasks"></i> Tasks to solve in this lesson
    </div>

    <div class="panel-body">
      <div class="list-group">
        <% @lesson.tasks.by_creation.each do |task| %>
          <% if current_user && @classroom.has_access?(current_user) %>
            <%= link_to lesson_task_classroom_path(@classroom, lesson_id: @lesson, task_id: task), class: "list-group-item" do %>
              <%= render partial: 'task_summary_panel', locals: { task: task } %>
            <% end %>
          <% else %>
            <a class="list-group-item" data-toggle="modal" data-target="#enrolLogin">
              <%= render partial: 'task_summary_panel', locals: { task: task } %>
            </a>
            <%= render partial: 'enrol_or_login_modal', locals: { classroom: @classroom, lesson: @lesson } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
