<div class="col-sm-2 text-center">
  <% if @prev_lesson.present? %>
    <%= link_to lesson_classroom_path(@classroom, lesson_id: @prev_lesson.id) do %>
      <h2 class="glyphicon glyphicon-chevron-left lesson-nav" aria-hidden="true"></h2>
    <% end %>
  <% end %>
</div>

<div class="col-sm-8">
  <h2 class="text-center"><%= @lesson.title %></h2>
</div>

<div class="col-sm-2 text-center">
  <% if @next_lesson.present? %>
    <%= link_to lesson_classroom_path(@classroom, lesson_id: @next_lesson.id) do %>
      <h2 class="glyphicon glyphicon-chevron-right lesson-nav" aria-hidden="true"></h2>
    <% end %>
  <% end %>
</div>
