<% unless @lesson.tasks.any? %>
  <div class='list-group-item list-group-item-info'>
    <strong>Practice tasks in this section</strong>
  </div>
  <% @lesson.section_tasks do |lesson, task| %>
    <div id='lesson-sidebar-links' class='list-group-item list-group-item-info'>
      <%= link_to task.title, lesson_task_classroom_path(@classroom, lesson_id: lesson, task_id: task) %>
    </div>
  <% end %>
<% end %>
