<% if @user_runs.empty? %>
  <h3>No task runs attempted yet</h3>
<% else %>
  <%= paginate @user_runs, theme: 'twitter-bootstrap-3' %>
  <table class="task-runs table table-striped table-hover table-condensed">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Language</th>
      <th>Memory</th>
      <th>Time</th>
      <th>Points</th>
      <th>Date</th>
      <th></th>
    </tr>
    <% @user_runs.each do |task_run| %>
      <%= render partial: 'task_run', locals: { task_run: task_run } %>
    <% end %>
  </table>
  <%= paginate @user_runs, theme: 'twitter-bootstrap-3' %>
<% end %>
