<div class="modal fade" id="task-limits-help" tabindex="-1" role="dialog" aria-labelledby="task-limits-help">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="task-limits-help">What are memory and time limits for tasks?</h4>
      </div>
      <div class="modal-body">
        <p>
          For each task there is a defined <strong>maximum amount of memory</strong> that your solution can use. The same goes for the <strong>maximum execution time</strong>. If you solution uses more than the specified limits for a given test case it will be terminated and will receive 0 points for the test case.
        </p>
        <p>
          Keep in mind that solutions written in different programming languages will have different memory usage and execution speed. The limits are the same for all solutions though.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
