<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <%= render partial: 'lesson_top_links' %>

        <div class="row quiz-title">
          <h2 class="text-center"><%= @quiz.title %></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <%= render partial: 'quizzes/attempt', locals: { quiz: @quiz, path_to_submit_quiz: submit_quiz_classroom_path(@classroom, lesson_id: @lesson.id, quiz_id: @quiz.id) } %>
        </div>

        <div class="col-sm-4">
          <div class="lesson-sidebar">
            <%= render partial: 'classrooms/quizzes/attempt_quiz_sidebar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
