<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <%= render partial: 'lesson_top_links' %>

        <div class="clearfix"></div>
        <h2 class="text-center">Your task runs: <%= @task.title %></h2>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <%= render partial: 'task_runs' %>
        </div>
        <div class="col-sm-4">
          <div class="lesson-sidebar">
            <%= render partial: 'task_runs_sidebar' %>
          </div>
        </div>
      </div>
  </div>
</div>
