<div class="row">
  <div class="col-sm-9">
    <div class="lesson-top-links">
      Task: <%= link_to @task.title, lesson_task_classroom_path(@classroom, lesson_id: @lesson.id, task_id: @task.id) %>
    </div>
    <div class="clearfix"></div>
    <h2 class="text-center">Your task runs</h2>

    <%= render partial: 'task_runs' %>
  </div>
</div>
