<%= quiz.title %>
<div class="pull-right">
<% if quiz.is_covered_by?(current_user) %>
  <span class="label label-success">Solved</span>
<% else %>
  <span class="label label-danger">Pending</span>
<% end %>
<span class="label label-primary">Attempts: <%= quiz.user_attempts(current_user).count %></span>
</div>
