<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render partial: 'admin_panel' %>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Message</th>
        <th>Language</th>
        <th>Memory</th>
        <th>Time</th>
        <th>Points</th>
        <th>Date</th>
      </tr>
      <% @task_runs.each do |task_run| %>
        <%= render partial: 'run', locals: { task_run: task_run } %>
      <% end %>
    </table>
  </div>
</div>
