div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 1em auto 0;
  margin-top: 20%;
  text-align: center;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
}
