<div style="text-align:center; font-size:16px;">
  <img src="http://www.hiredintech.com/theme/Metronic/frontend-assets/img/logo_hit_grunge_gray.png"></img>

  <h2>HiredInTech's Training Camp for Coding Interviews!</h2>

  <p>This is an invitation to log in HiredInTech's new training camp.</p>

  <p>We are still in private beta and will be honoured if it's useful in your tech interview preparation.</p>

  <p>Use the link below to go to the log in page.</p>

  <p>You'll be able to log in with the email address at which you received this invite.</p>

  <p style="margin-top: 50px;">
    <%= link_to 'Log In', new_user_session_url, style: "padding: 10px 15px; background: #339933; color: #fff; text-decoration: none; font-size: 18px;" %>
  </p>
</div>
