<div style="text-align:center; font-size:16px;">
  <img src="http://www.hiredintech.com/theme/Metronic/frontend-assets/img/logo_hit_grunge_gray.png"></img>

  <h2>HiredInTech's Interview Training Camp!</h2>

  <p>This is an invitation to sign up for HiredInTech's new training camp.</p>

  <p>We are still in private beta and will be honoured if it's useful in your tech interview preparation.</p>

  <p>Use the link below to go to the sign up page.</p>

  <p style="margin-top: 50px;">
    <%= link_to 'Sign Up', new_user_registration_url, style: "padding: 10px 15px; background: #339933; color: #fff; text-decoration: none; font-size: 18px;" %>
  </p>
</div>
