<div class="col-md-4 border-top social-login-buttons">
  <div class="social-buttons-comment">or use these services to authenticate</div>
  <a href="/users/auth/google_oauth2" class="btn-social btn btn-block btn-google">
    <i class="fa fa-google"></i>
    Log in with Google
  </a>
  <a href="/users/auth/github" class="btn-social btn btn-block btn-github">
    <i class="fa fa-github"></i>
    Log in with GitHub
  </a>

</div>
