<div class="row about-page">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="text-center margin-top-small">
      <img src="http://www.hiredintech.com/theme/Metronic/frontend-assets/img/logo_hit_grunge_gray.png"></img>
      <div class="about-title">YOUR TRAINING CAMP FOR THE TECH INTERVIEWS</div>
    </div>
    <div class="about-text">
      <p class="text-center margin-top-small"><i class="glyphicon glyphicon-option-horizontal"></i></p>

      <h3>How it works?</h3>
      <p>
        HiredInTech's Training Camp is an online platform that contains a collection of algorithmic practice tasks spefically created to help you with your preparation for the real tech interviews.
      </p>
      <p>
        The Training Camp is like an online course in which important algorithmic topics are covered. For each topic we have prepared a number of practice tasks. They resemble closely the ones given at tech interviews in some of the top technology companies.
      </p>
      <p>
        For each task you can write a solution in one of a few programming languages (C++, Java, Python, Ruby) and send it for grading. Our grading system will run it against a set of predefined test cases and return a result. The result is a score between 0 and 100 based on the number of tests that your solution had passed. Naturally, your goal should be to get 100 points for each task.
      </p>
      <p>
        For each task we also offer a solution with explanations and some example source code. We believe that it is best to first try to solve a problem yourself, but it is also quite useful to learn from other people's ideas and source code. We recommend that for each problem you spend some time trying to solve it on your own. Only after you succeed or if you have got really stuck it is recommended to go to the solutions page for the task.
      </p>

      <p class="text-center margin-top-small"><i class="glyphicon glyphicon-option-horizontal"></i></p>

      <h3>Who we are?</h3>
      <p>
        We are the creators of <a href="http://www.hiredintech.com">HiredInTech</a>. We are passionate software engineers who have spent a lot of time developing software. We've also been on both sides of the interview table and know a lot about this process. You can read more about us on the main HiredInTech page linked above.
      </p>

      <p class="text-center margin-top-small"><i class="glyphicon glyphicon-option-horizontal"></i></p>

      <h3>Why we built the Training Camp?</h3>
      <p>
        Since we put online the free preparation course for tech interviews thousands of people have used it to prepare for their upcoming interviews with the big technology companies out there.
      </p>
      <p>
        The HiredInTech course covers algorithms and system design but it also prepares you for the specifics of the tech interviews.
      </p>
      <p>
        Over time we realized that one component that is missing is a place where the members of our community can practice solving sample interview tasks. Of course, there are many other things that could be done, but this is something that seemed achievable. Plus, we already have some very good experience in creating systems like that.
      </p>
      <p>
        So, slowly we built <%= link_to 'CodeMarathon', about_codemarathon_path %>, a system for online courses, which allows people to also practice their coding and solve algorithmic problems like the ones given at tech interviews.
      </p>
      <p>
        This is just a beta and there are many ideas about useful stuff to add. We will be working in this direction and hopefully this Training Camp will become a powerful tool for your tech interview preparation.
      </p>
      <p>
        We will also be adding more content and practice tasks over time. Feel free to give it a try and remember that your comments and advice are highly appreciated.
      </p>
      <p class="text-right">
        <i>The HiredInTech Team</i>
      </p>
    </div>
  </div>
</div>
