<h2>About</h2>

<div class="text-center gray-text margin-top-average">
  <h4>CodeMarathon is a platform, which can host online courses on various Computer Science related topics.</h4>
</div>

<div class="clearfix"></div>

<div class="row margin-top-average">
  <div class="col-md-3 col-sm-3">
    <div class="panel panel-primary about-panel">
      <div class="panel-heading">Online courses</div>
      <div class="panel-body">
        Teachers define course contents, students enrol, learn and practice by solving programming problems.
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-3">
    <div class="panel panel-primary about-panel">
      <div class="panel-heading">Practice problems</div>
      <div class="panel-body">
        Students get to test their knowledge by solving programming problems. Solutions are graded with several programming languages supported.
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-3">
    <div class="panel panel-primary about-panel">
      <div class="panel-heading">Rich content</div>
      <div class="panel-body">
        Course lessons are defined using <a href="https://help.github.com/articles/markdown-basics/" target="_blank">Markdown</a>, which gives an easy way to present rich content.
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-3">
    <div class="panel panel-primary about-panel">
      <div class="panel-heading">Classroom management</div>
      <div class="panel-body">
        Teachers in classrooms can manage the enrolled students by observing their progress and giving feedback.
      </div>
    </div>
  </div>

</div>

<div class="clearfix"></div>

<div class="margin-top-small gray-text">
  The source code for CodeMarathon can be found in this <a href="https://github.com/antonrd/codemarathon" target="_blank">Github repository</a>.
</div>
