<div class="text-center top-banner">
  <h1>CodeMarathon</h1>
  <h2>Platform for hosting Computer Science online courses</h2>
</div>

<div class="middle-banner light">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>What is CodeMarathon?</h2>
      <div>
        This is an open source platform for creating and managing online courses in the Computer Science domain.
        <br><br>
        It allows teachers to add online course content and practice programming tasks for their students. Teachers can observe the progress of their students and provide feedback.
        <br><br>
        The source code for <a href="https://github.com/antonrd/codemarathon" target="_blank">CodeMarathon</a> is hosted publicly on GitHub.
      </div>
    </div>
  </div>
</div>

<div class="middle-banner dark">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Online Courses Organization</h2>
      <div>
        Teachers define course content organized in lessons. They can also add programming tasks for solving.
        <br><br>
        When students enrol they can learn from the course materials and practice by writing code to solve the programming tasks.
      </div>
    </div>
  </div>
</div>

<div class="middle-banner light">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Rich Course Content</h2>
      <div>
        Course lessons are defined using <a href="https://help.github.com/articles/markdown-basics/" target="_blank">Markdown</a>, which gives an easy way to present any rich content.
        <br><br>
        Courses are organized in sections, which contain lessons. Lessons can be locked until a student completes all previous lessons.
      </div>
    </div>
  </div>
</div>

<div class="middle-banner dark">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Practice Programming Tasks Graded in Real-time</h2>
      <div>
        Students get to test their knowledge by solving programming problems included in the course by the teachers.
        <br><br>
        Solutions are graded with several programming languages supported. The support for this comes from the <a href="https://github.com/antonrd/codemarathon-grader" target="_blank">CodeMarathon Grader project</a> that we have built for the purpose.
      </div>
    </div>
  </div>
</div>
