<div class="row about-page">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="text-center margin-top-small">
      <img src="http://www.hiredintech.com/theme/Metronic/frontend-assets/img/logo_hit_grunge_gray.png"></img>
    </div>
    <div class="about-text">
      <p class="text-center margin-top-small"><i class="glyphicon glyphicon-option-horizontal"></i></p>
      <p>
      Any suggestions, comments, advice related to HiredInTech are very welcome. We may take some time to reply but we will do our best to be quick enough.
      </p>

      <p>
      Feel free to drop us a line at <a href="mailto:team@hiredintech.com">team@hiredintech.com</a>.
      </p>

      <p>
      Or you could also use the contact widget at the bottom-right corner of the page.
      </p>
    </div>
  </div>
</div>
