<div class="row text-center">
  <div class="col-md-8 col-md-offset-2">
    <h5><%= link_to @course.title, course_path(@course) %></h5>
    <h2>Edit course details</h2>
  </div>
</div>

<div class="text-center with-margin">
  <%= link_to 'Edit course structure', edit_structure_course_path(@course), class: 'btn btn-primary' %>
</div>

<%= render partial: 'fields' %>
