// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.task-description {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #eee;
}
