.border-bottom {
  border-bottom: 1px solid #ddd;
}

.border-top {
  border-top: 1px solid #ddd;
}

.border-right {
  border-right: 1px solid #ddd;
}

.margin-top-small {
  margin-top: 20px;
}

.margin-top-average {
  margin-top: 40px;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.margin-left-small {
  margin-left: 20px
}

.margin-right-small {
  margin-right: 20px
}

.panel-heading {
  a {
    font-size: 18px;
    color: white;
  }
}

.container.main-container {
  padding: 0px 15px 20px 15px;
}

.form-inline input.long-field {
  width: 300px;
  background-color: #ddd;
}

.form-inline input:focus.long-field {
  background-color: #fff;
}

.with-margin {
  margin: 20px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.about-box {
  height: 200px;
}

.about-panel {
  height: 160px;
  background-color: #f8f8f8;

  .panel-heading {
    font-size: 18px;
  }

  .panel-body {
    font-size: 14px;
  }
}

.gray-text {
  color: #666;
}
