ul.course-menu {
  padding-left: 0px;
  list-style-type: none;

  li.course-menu-header {
    background-color: rgb(210, 210, 210);
    padding: 5px 10px 5px 10px;
    color: #333;
  }

  li.course-menu-section {
    background-color: rgb(51, 122, 183);
    padding: 5px 10px 5px 10px;
    color: #eee;
    font-weight: bold;
  }

  li.course-menu-lesson {
    background-color: rgb(248, 248, 248);

    a {
      color: rgb(85, 85, 85);
      padding: 5px 10px 5px 20px;
      display: block;
      span.glyphicon {
        margin-right: 5px;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  li.active {
    background-color: rgb(232, 232, 232);
  }


  li.course-menu-lesson:hover {
    background-color: rgb(232, 232, 232);
  }
}

.top-course-name {
  font-weight: bold;
}

.course-group {
  padding-left: 20px;

  h4 {
    padding: 5px 10px 5px 10px;
    color: #666;
  }
}

.course-page {
  .course-title {
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 40px;
      color: #555;
    }

    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 20px;
      color: #666;
    }
  }

  .course-description {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.8em;
    background: #fafafa;
    color: #555;
    font-weight: 300;

    .call-to-action {
      margin-top: 50px;
    }
  }

  .course-summary {
    padding-left: 60px;

    table.course-sylabus {
      width: 100%;
      margin-top: 10px;
      border-bottom: 1px solid #dedede;

      tr {
        height: 38px;

        border-top: 1px solid #dedede;

        td.section-arrow {
          width: 20px;
        }

        td.section-title {
          padding-left: 10px;
          padding-right: 15px;
        }

        td.section-stat {
          width: 50px;
        }
      }
    }

    table.course-summary {
      margin: 0px auto;
      color: #777;
      font-size: 16px;
      tr {
        font-weight: bold;
        td {
          padding: 0px 40px 0px 40px;
        }
      }

      tr.course-values {
        color: #009900;
      }
    }

    ul {
      list-style: none;
      padding-left: 0px;
      margin-top: 20px;
      border-bottom: 1px solid #dedede;

      li {
        line-height: 38px;
        border-top: 1px solid #dedede;
      }
    }
  }
}

.cta-explanation {
  color: #666;
  font-size: 14px;
  line-height: 16px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.cta-explanation.course-under-dev {
  color: #cc6600;
  border-radius: 8px;
}

.cta-explanation.spots-left {
  color: #009900;
  border-radius: 8px;
}

.cta-explanation.no-free-spots {
  color: #e60000;
  border-radius: 8px;
}

span.course-structure-label {
  margin-top: 11px;
  margin-right: 5px;
}
