tr.lesson {
  background-color: #fff;

  td.title {
    padding-left: 40px;
  }
}

.lesson-content {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.8em;

  table {
    th, td {
      padding: 3px 10px 3px 10px;
      border: 1px #ddd solid;
    }
  }
}
