// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.source-code-editor {
  height: 400px;
}

.source-code-editor-small {
  height: 200px;
}

.max-attempts-notice {
  font-size: 16px;
  font-weight: bold;
}

tr.error {
  background-color: #ffe6cc;
}

table.stats {
  margin-top: 10px;
  margin-left: 25px;
  border-collapse: collapse;
  width: 25%;
}

.stats tr:nth-child(even) {
    background-color: #dddddd;
}

th.table-title {
  text-align: center;
}
