<footer class="footer">
  <div class="container">
    <div class="margin-top-small">
      <span class="text-muted">CodeMarathon 2015</span>
      <span class="glyphicon glyphicon-option-vertical"></span>
      <%= link_to 'About', about_path %>
      <span class="glyphicon glyphicon-option-vertical"></span>
      <%= link_to 'Contact', contact_path %>
    </div>
  </div>
</footer>
