<li class="dropdown">
  <a href="#" class="dropdown-toggle main-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Create task", new_task_path %></li>
    <li><%= link_to "Task list", tasks_path %></li>
    <li><%= link_to "All runs", all_runs_tasks_path %></li>
  </ul>
</li>
